<!doctype html>
<html ng-app="root">
  <head>
    <title>testy testy testy </title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ng-tags-input.min.css" />

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/ng-tags-input.min.js"></script>
    <script src="js/root.js"></script>
    <style>
        body {
            padding-top:2em;
        }
        ul.main li {
          list-style: none;
        }
       .tab-content {
        max-width: 800px;

        }
         button {
           float:right;
        }
        /*input {
          border:none;background: transparent;
        }*/
        td.ng-binding {
        width: 100px;
        }

    </style>
  </head>
  <body>

  <style type="text/css">
.bootstrap-tagsinput {
    width: 100%;
}
.label {
    line-height: 2 !important;
}
</style>


  <div ng-controller="showData" class="container">

  <div class="row">

        <ul class="nav nav-tabs" role="tablist">
        <li class="active" ng-click = "show(0)"><a href="#"  data-toggle="tab">Slim</a></li>
        <li ng-click = "show(1)"><a href="#"  data-toggle="tab">Wrinkles</a></li>
        <li ng-click = "show(2)"><a href="#" data-toggle="tab">Hair</a></li>
        <li ng-click = "show(3)"><a href="#" data-toggle="tab">Potency</a></li>
      </ul>

      <div class="tab-content"  ng-init="show(0)">
          <ul  class="main" ><button ng-click="save(json[0].category)" class="btn btn-success">Zapisz</button>
                  <h1>{{json[0].category}}</h1>
                  <li ng-repeat="item in json">

                    <h1> {{item.country}}</h1>
                    <table class="table table-striped table-hover table-responsive">
                      <tr ng-repeat="child in item.elems">
                        <td>{{child.chanell}}</td>
                       <!-- <td><input type="text" class="produkt" class="form-control" ng-model="child.produkt" value="{{child.produkt}}" /></td> -->
                        <td>
                           <tags-input ng-model="child.produkt" add-on-paste="true">
                            <!-- <tags-input ng-model="child.produkt"></tags-input> -->
                            <auto-complete source="loadTags($query)"></auto-complete>
                        </td>
                        <!-- <td><img ng-src="img/{{imgProd(child.produkt)}}" style="width:60px"/></td> -->
                        <td><a ng-href="/newsite/{{child.produkt}}/{{imgProd(child.produkt)}}" target="_blank">podgląd </a></td>
                      </tr>
                    </table>
                  </li>
          </ul>
    </div>
  </div>
    </div>
  <script>
    $(document).ready(function(){
      AdjustInputsWidth();

      $('.nav-tabs li').click(function(){
        AdjustInputsWidth();
      });
    });

    function AdjustInputsWidth(){
      setTimeout(function(){
        $('.produkt').each(function(){
          var StringLength = ($(this).val()).length;
          StringLength = StringLength - (0.45*StringLength);
          $(this).css('width', StringLength+'em');
        });
      },200);
    }




  </script>
  </body>
</html>
