<!doctype html>
<html ng-app="root" xmlns="http://www.w3.org/1999/html">
<head>
    <title>testy testy testy </title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="/js/root.js"></script>
    <style>
.container {border:1px solid black}
.top-mrg {margin-top:4em;}
textarea {
           border:none;
           background: transparent;
           width: 400px;
           height:200px;
}
    </style>
   </head>
<body>


<div class="container" ng-controller="showData" ng-init="show(0)">

<div class="row top-mrg">
    <div class="col-sm-8">
        <h1>{{prod}}</h1>
        <div contenteditable ng-model="opis"> </div>


        <p>Maecenas bibendum purus vitae felis ac libero. Morbi dui non nonummy sodales sed, venenatis blandit egestas consequat non, tellus. Donec non neque quis neque ante id ipsum. Duis eget est ullamcorper orci pellentesque ipsum primis in consequat lobortis ut, blandit id, neque. Cras ut arcu. Duis luctus et netus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur arcu id sapien sapien, ornare velit libero facilisis hendrerit. Sed eu lorem. Etiam fringilla vel, semper convallis. Fusce vitae imperdiet quis, vestibulum sed, suscipit suscipit id, bibendum blandit, quam. Ut vel nulla. Sed vehicula sapien mauris ac lacus. Nulla massa. Proin nunc felis, eleifend eget, tortor. Vestibulum ante ipsum a purus dolor magna, gravida sagittis. Nulla euismod, quam fermentum nisl pellentesque sed, urna. Nulla in faucibus orci luctus et malesuada leo eros, id leo felis augue at diam magna sit amet augue mi, nec scelerisque porttitor a, pretium vitae, pede. Vestibulum quam. Nullam ligula eget augue. Aenean sed nulla facilisis dignissim porttitor, nulla non tincidunt consequat, metus feugiat leo. Curabitur consectetuer lobortis sem. Nam ipsum. Praesent rhoncus eget, sagittis malesuada. Ut pharetra.</p>



    </div>
    <div class="col-sm-4 text-center" >
        <h3>{{prod}}</h3>
        <img ng-src="/img/{{img}}"  alt="" />
        <p><button class="btn btn-lg">Zamów</button></p>
    </div>
</div>

</div>

</body>
</html>